{% extends 'base.html' %}
{% block title %} Book tickets online for music concerts, live shows and professional events. {% endblock%}
{% block body %}
<html lang="en">
<head>
     <div class="card">
  <img src="https://wallpapercave.com/w/0BwNV7Z" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Micheal Jackson</b></h4>
    <p>Dancer</p>
  </div>
</div>

      <center>
<a href="http://127.0.0.1:5000/booking" class=" btn btn-primary btn-rounded">
    Buy Tickets Now
</a>
        </center>
<footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; Your Website 2022</div></footer>
{% endblock %}